table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#map {
    border: 1px solid #ddd;
    border-radius: 5px;
}
